<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Order</title>

    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">

     <!-- Main Style CSS -->
     <link rel="stylesheet" href="assets/css/checkout.css">

    <!--modernizr min js here-->
    <script src="assets/js/vendor/modernizr-3.7.1.min.js"></script>
</head>

<body>

    <!-- Header Section -->
    <header class="header_section mb-30">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="main_header d-flex justify-content-between align-items-center">
                        <div class="header_logo">
                            <a class="sticky_none" href="main.html"><img src="assets/img/logo/logo.png" alt="Logo"></a>
                        </div>
                        <div class="main_menu d-none d-lg-block">
                            <nav>
                                <ul class="d-flex">
                                    <li><a href="main.html">Home</a></li>
                                    <li><a href="shop1.html">Shop</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="header__ridebar d-flex align-items-center">
                            <div class="header_account">
                                <ul class="d-flex">
                                    <li class="shopping_cart"><a href="#"><img src="assets/img/icon/cart.png" alt="Cart"></a></li>
                                    <li class="account_link_menu"><a href="#"><img src="assets/img/icon/person.png"
                                        alt=""></a>
                                        <ul class="dropdown_account_link">
                                            <li>
                                                <a href="orderList.html">Order</a>
                                            </li>
                                            <li>
                                                <a href="LogIn.html">Log in</a>
                                            </li>
                                            <li>
                                                <a href=" ">Log out</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="canvas_open">
                                <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Order List Form Section -->
    <div class="checkout-container">
        <h2 class = "head-title">你的訂單</h2>

    <!-- Order Numbers -->
    </section>
    <section class="section section-sm bg-default text-md-left">
      <div class="container">
        <!-- Items List-->
    <div class="table-custom-responsive">
    <table class="table-custom table-cart">
        <thead>
        <tr>
            <th>
            <div class="table-cart-stepper">
                <span>訂單編號</span>
            </div>
            </th>
            <th>
            <div class="table-cart-stepper">
                <span>日期</span>
            </div>
            </th>
            
        </tr>
        </thead>

        <tbody>
        <tr class="cart-item">
            <td>
                <div class="table-cart-stepper " >
                    <a class="table-cart-link " href="order.html">商品訂單 #1</a>    <!--資料庫連接的話改 訂單編號-->
                </div>
            </td>
            <td>                            <!--資料庫連接的話改 data-->
                <div class="table-cart-stepper " >2024-10-15</div>   <!--訂單日期-->
            </td>
        </tr>

        <tr class="cart-item">
            <td>
                <div class="table-cart-stepper " >
                    <a class="table-cart-link " href="order.html">商品訂單 #2</a>    <!--資料庫連接的話改 訂單編號-->
                </div>
            </td>
            <td>                            <!--資料庫連接的話改 data-->
                <div class="table-cart-stepper " >2024-10-27</div>   <!--訂單日期-->
            </td>
        </tr>
        </tbody>
    </table>
    </div>

    </div>

    
    <!-- Js 
    ========================= -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>


    <!-- Main JS -->
    <script src="assets/js/checkout.js"></script>

</body>
</html>
